[submodule "libhttpserver"]
	path = libhttpserver
	url = https://github.com/etr/libhttpserver.git
[submodule "sqlpp11"]
	path = sqlpp11
	url = https://github.com/rbock/sqlpp11.git
[submodule "gmd2pp/ziplib"]
	path = gmd2pp/ziplib
	url = https://bitbucket.org/wbenny/ziplib.git
[submodule "gmd2pp/level-converter"]
	path = gmd2pp/level-converter
	url = https://github.com/SergeyMC9730/level-converter.git
[submodule "gmd2pp/curl"]
	path = gmd2pp/curl
	url = https://github.com/curl/curl.git
[submodule "gmd2pp/cJSON"]
	path = gmd2pp/cJSON
	url = https://github.com/DaveGamble/cJSON.git