[submodule "libhttpserver"]
	path = libhttpserver
	url = https://github.com/etr/libhttpserver.git
[submodule "sqlpp11"]
	path = sqlpp11
	url = https://github.com/rbock/sqlpp11.git
[submodule "gmd2pp/ziplib"]
	path = gmd2pp/ziplib
	url = https://bitbucket.org/wbenny/ziplib.git
[submodule "gmd2pp/cJSON"]
	path = gmd2pp/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "gmd2pp/pugixml_patch"]
	path = gmd2pp/pugixml_patch
	url = https://github.com/SergeyMC9730/pugixml.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "GDCrypto-patched"]
	path = GDCrypto-patched
	url = https://github.com/SergeyMC9730/GDCrypto-patched
[submodule "fast-vector"]
	path = fast-vector
	url = https://github.com/sigerror/fast-vector.git
[submodule "DPP"]
	path = DPP
	url = https://github.com/SergeyMC9730/DPP-patched
[submodule "gmd2pp/cpp-base64"]
	path = gmd2pp/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
